<h1><%= @user.name %>のページ</h1>

<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Self_introduction:</strong>
  <%= @user.self_introduction %>
</p>

<div class="choice">
  <% if @user.id == current_user.id %>
    <%= link_to "お気に入り一覧", favorites_path %>  
    <%= link_to "編集", edit_user_registration_path(@user), class: 'btn btn-success' %>
    <%= link_to '削除', user_registration_path(@user), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか?' } %>
  <% end %>
</div>