<div class="container">
  <div class="form_box">
    <%= form_with(model: picture, local: true) do |form| %>
      <% if picture.errors.any? %>
        <div id="error_explanation">
          <h2><%= t("errors.template.header", model: Picture.model_name.human, count: picture.errors.count) %></h2>

          <ul>
          <% picture.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="field">
      <%= image_tag(@picture.image.url) if @picture.image? %>
      <%= form.label :image %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
    </div>


    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, placeholder: '写真の説明を記入' %>
    </div>
    
    <div class="field">
      <% Label.all.each do |label| %>
        <%= form.check_box :label_ids, { multiple: true, checked: @picture.labels.find_by(id: label.id).present?, include_hidden: false }, label[:id] %>
        <label class='badge badge-secondary'><%= label.name %></label>
      <% end %>
    </div>
    <br>
    <br>
    <div class="actions_picture">
      <%= form.submit %>
    </div>
  <% end %>
  </div>
</div>
