<div class="container">
  <h2 class="title_user">投稿一覧</h2>
  <div class="row">
    <div class="index_button col-md-6">
      <%= link_to '　投　稿　', new_picture_path, class:"btn btn-default" %>
    </div>
    <div class="index_button col-md-6">    
      <%= link_to 'マイページ', user_path(current_user), class:"btn btn-default" %>
    </div>
  </div>
  <br>
  <h4>検索</h4>
  <div class="search_title">
    <div class="row">
    <br>
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <%= search_form_for @q, url: search_pictures_path do |f| %>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
              <%= f.search_field :user_name_cont, placeholder: '投稿者' %>
            </div>
            <div class="col-md-2">
            <%= f.date_field :created_at_gteq, include_blank: true %>
            </div>
            <div class="col-md-1">
            　　～
            </div>
            <div class="col-md-2">
              <%= f.date_field :created_at_lteq, include_blank: true %>
            </div>
            <div class="col-md-2">
              <%= f.collection_select :labels_id_eq, Label.where.not(id: 0), :id, :name, include_blank: "ラベル選択", class:"search-select-box" %>
            </div>
            <%= f.submit '検索' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <% @pictures.each do |picture| %>
      <div class="picture_image">
        <%= image_tag picture.image.url, :size =>'320x320' %>
        <div class="picture_user">
          <%= link_to 'ユーザー詳細', user_path(picture.user), class:"btn btn-info btn-xs" %>
        </div>
        <div class="picture_index_list">
          <%= picture.created_at.strftime('%Y/%m/%d') %><br>
          投稿者：<%= picture.user.name %><br>
          内容：<%= picture.content %><br>      
          <% picture.labels.each do |label| %>
            ラベル：<%= label.name %>
          <% end %>
          <br>
          <%= link_to '　投稿詳細　', picture_path(picture),class:"btn btn-default btn-xs" %>
        </div>
      </div>
    <% end %>
  </div>

  <br>
  <div class="index_page">
    <%= paginate @pictures %>
  </div>
  <br>
  <br>
</div>

