<div class="container">
  <h2 class="title_user">検索した投稿一覧</h2>

  <div class="row">
    <% @results.each do |result| %>
      <div class="picture_image">
        <%= image_tag result.image.url, :size =>'320x320' %>
        <div class="picture_user">
          <%= link_to 'ユーザー詳細', user_path(result.user), class:"btn btn-default btn-xs" %>
        </div>
        <div class="picture_index_list">
          <%= result.created_at.strftime('%Y/%m/%d') %><br>
          投稿者：<%= result.user.name %><br>
          内容：<%= result.content %><br>
          <% result.labels.each do |label| %>
            ラベル：<%= label.name %>
          <% end %>
          <br>
          <%= link_to '　投稿詳細　', picture_path(result),class:"btn btn-info btn-xs" %>
        </div>
      </div>
    <% end %>
  </div>

  <br>
  <div class="back">
  <%= link_to "戻る", pictures_path, class:"btn btn-default" %>
  </div>
<br>
<br>
</div>